<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixuan.yh.product.mapper.ProductMapper">

    <update id="updateBasicInfo">
        update product
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="coverUrl != null and coverUrl != ''">
                cover_url = #{coverUrl}
            </if>
        </set>
        where product_id = #{productId}
    </update>
</mapper>