<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixuan.yh.video.mapper.VideoMapper">

    <update id="updateBatch">
        <foreach collection="likeIncrList" item="likeIncr" separator=";">
            update video set likes = likes + #{likeIncr.incrNumber} where id = #{likeIncr.videoId}
        </foreach>
    </update>

</mapper>